*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black:#130f40;
    --light-black: #444;
    --purple: #2E1278;
    --blue:#3b04db;
    --green: #28a745ee;
    --gray: #f6f6f6;
    --red: #ff4e56;
}

body {
    font-family: 'Nunito-Sans', sans-serif;
}

p {
    color: var(--black); 
}

a {
    color: var(--black);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}


/* HEADER  */

#header {
    width: 100%;
    padding: 1rem 4.0rem;
    position: fixed;
    background-color: var(--white);
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-bar {
    width: 100%;
}

#nav-bar ul {
    display: flex;
    justify-content: center;
}

#nav-bar ul li {
    padding: 1.2rem;
}

#nav-bar ul li a{
    font-size: 1rem;
    font-weight: 500;
}

#nav-bar a:hover {
    color: var(--blue);
}

#nav-bar a.active {
    color: var(--blue);
}


/* HERO */

#hero-area {
    width: 100%;
    padding: 10rem 8rem;
    background-image: url(/assets/imgs/banner-1.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caption-image {
    max-width: 90%;
    margin-right: 5rem;
}

.caption h1, p {
    color: var(--white);
}

.caption h1 {
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
}

.caption p {
    margin-top: 2rem;
    line-height: 1.5;
    font-size: 1rem;
}

.hero-btn {
    margin: 50px 0px;
    display: flex;
    margin-top: 1rem;
}

.hero-btn a {
    font-size: 0.8rem;
    border: white solid 1px;
    border-radius: 30px;
    padding: 14px 40px;
    color: white;
    margin: 0 10px 0 0;
    font-weight: 600;
    margin-right: 1rem;
}

.section-duo {
    padding: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-duo .container {
    display: flex;
}


.section-duo-content {
    padding-right: 5rem;
    width: 50%;
}

.section-duo-content h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: var(--blue);
    font-weight: 400;
    margin-bottom: 1rem;
}

.section-duo-content h1 {
    font-family: 'Nunito-Sans', sans-serif;
    color: var(--black);
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.section-duo-content p {
    color: var(--light-black);
    font-size: 1.08rem;
    margin-bottom: 1.5rem;
}

.section-duo-content ul {
    margin: 2.5rem 0 4.5rem 0;
}

.section-duo-content li i {
    color: var(--green);
    margin-right: 0.5rem;
    font-size: 0.6rem;
}

.section-duo-content li {
    color: var(--black);
    font-size: 1.0rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.section-duo-btn {
    background-color: var(--purple);
    padding: 1rem 2rem;
    font-size: 1.0rem;
    border-radius: 5px;
    color: var(--white);
}

.section-duo-image {
    width: 50%;
}

.section-duo img {
    padding: 0;
    width: 100%;
    border-radius: 5px;
}


/* CORE FEAT ARE  */

#core-feat-are {
    background-color: var(--gray);
    padding: 6rem;
}

#core-feat-are .container {
    display: flex;
    flex-direction: column;
}

.header-text {
    padding: 0 15rem 3rem 15rem;
}

#core-feat-are h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: var(--blue);
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
}

#core-feat-are h1 {
    color: var(--black);
    text-align: center;
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

#core-feat-are p {
    color: var(--light-black);
    text-align: center;
    font-size: 1rem;
}

.core-grade {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background-color: var(--white);
    border-radius: 5px;
    padding: 2rem;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .fas {
    font-size: 3rem;
}

.card h4 {
    margin: 1rem 0;
}

/*  VIDEO AREA */

.container-btn {
    margin-top: 5rem;
}

.video-play {
    padding-right: 5rem;
}

.video-play img{
    padding: 0;
    width: 100%;
    border-radius: 5px;
}


#newsletter-area  {
    background-image: url(/assets/imgs/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 0 15rem;
}

.newsletter-box {
    padding: 0 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* width: 100%; */
    color: var(--white);
}

.heading h5 {
    font-size: 1.2rem;  
}

.heading h3 {
    font-size: 2.2rem;
    margin: 1.2rem 0;
    font-weight: bold;
}

.heading p {
    font-size: 1.08rem;
    line-height: 1.5;
    margin-bottom: 4rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form-group input {
    padding: 1rem 10rem;
    border: none;
    border-radius: 30px;
}

.form-btn {
    background-color: var(--red);
    color: var(--white);
    border: none;
    margin-top: 1rem;
    border-radius: 30px;
    padding: 0.8rem 1rem;
    cursor: pointer;
}

/* RESPONSIVIDADE */

@media (max-width: 650px) {

    #header {
        flex-direction: column;
    }

    #nav-bar ul {
        flex-direction: column;
        align-items: center;
    }

    .container {
        flex-direction: column;
    }

    .hero-btn {
        flex-direction: column;
    }
}